[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
django = "*"
wmi = "*"
streamlit = "*"
click = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
streamlit-authenticator = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.7"
